@charset "UTF-8";

/* すべてのWebページに適用される　*/

    table th {/*table内のthに対して*/
    padding: 20px;/*上下左右10pxずつ*/
    }
  
    table td {/*table内のtdに対して*/
    padding: 30px 50px;/*上下3pxで左右10px*/
    }
    
    table {
    text-align: center;
    }
    th {
    color: #FF9800;/*文字色*/
    background: #fff5e5;/*背景色*/	
    }

/* 個別のスタイル */
/* header.html */
    nav{
    text-align: center;
    }
    nav ul{
    margin: 0 ;
    padding: 0 ;
    }
    nav li{
    list-style: none;
    display: inline-block;
    width: 20%;
    min-width: 90px;
    }
    nav li:not(:last-child){
    border-right:2px solid #ddd;
    }
    nav a{
    text-decoration: none;
    color: #333;
    }
    nav a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
    }
    nav a:hover{
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
    }

    