@charset "UTF-8";

/* すべてのWebページに適用　*/
* {
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu', sans-serif;
}

}
body {
    margin: 0 0 0 0;
	background-color: #FFF;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    gap: 20px 5px;
}

#commonHeader {
    grid-area: header;
}
 
.main {
    grid-area: main;
}
 
/* .right {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}*/
 
#commonFooter {
    grid-area: footer;
    background-color: #F7F6F4;
    color: #766F60;
}

h1 {
    color: #766F60
}

h2 {
	color: #766F60;
	font-size: 22px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

h3 {
    position: relative;
    padding: 0 .5em .5em 2em;
    font-size: 18px;
    color: #766F60;
}

h3::before,
h3::after {
    position: absolute;
    content: '';
    border-radius: 100%
}
  
h3::before {
    top: .2em;
    left: .2em;
    z-index: 2;
    width: 18px;
    height: 18px;
    background: #F2BC51;
}

h3::after {
    top: .7em;
    left: .7em;
    width: 13px;
    height: 13px;
    background: #F6D490;
}

h4 {
    position: relative;
    font-size: 17px;
}

p {
    line-height: 1.6;
    color: #766F60;
}

a:link {
	color: #766F60;
}

a:visited {
	color: #766F60;
}

a:hover {
    color: #F2BC51;
    text-decoration: none;
}

a:active {
	color: #766F60;
}
  
table {
    text-align: center;
}

th {
    color: #766F60;/*文字色*/
    background: #FFF;/*背景色*/	
}

/* 個別のスタイル */
/* header.html */
.jumbotron-extend {
    background-color: #FFF;
}

.logo {
	float: left;
}

.logo img {
	display: block;
	width: 40%;
	height: auto;
}

.btnRight {
    width: 100%;
    text-align: right;
	position: relative;
}

.btnRight li {
    display: inline-block;
}

.btnLogin {
    background-color: #F2BC51;
    text-align: center;
    width: 160px;
    padding: 0.8em;
    margin: 0.4em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-out;
}

.btnLogin:hover {
    cursor: pointer;
    transform: translate3d(0, 3px, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
    background: #F6D490;
}

.btnReserve {
    background-color: #F2BC51;
    text-align: center;
    width: 160px;
    padding: 0.8em;
    margin: 0.4em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-out;
}

.btnReserve:hover {
    cursor: pointer;
    transform: translate3d(0, 3px, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
    background: #F6D490;
}

p.right {
    text-align: right;
}

p.right a {
    text-decoration: none;
    color: #766F60;
    margin: 1.2em;
}

p.right a:hover{
    position:relative;
    top:1px;
    color:#F2BC51;
    border-bottom:1px solid #F2BC51;
}

nav{
    text-align: center;
}

nav ul{
    margin: 0 ;
    padding: 0 ;
}

nav li{
    list-style: none;
    display: inline-block;
    width: 20%;
    min-width: 90px;
}

nav li:not(:last-child){
    border-right:2px solid #ddd;
}

nav a{
    text-decoration: none;
    color: #766F60;
}

nav a.current{
    color: #F6D490;
    border-bottom:2px solid #F6D490;
}
nav a:hover{
    position:relative;
    top:1px;
    color:#F2BC51;
    border-bottom:1px solid #F2BC51;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #F2BC51, #F6D490);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 14px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit:hover {
    cursor: pointer;
    transform: translate3d(0, 3px, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
    background: #F6D490;
}

/* index.html*/
.swiper-container {
    max-width: 800px;
    margin: 30px 0;
  }

/* menu.html*/
.menuItem {
    display: flex;
    border-bottom: 1px solid #D1CAC8;
    padding: 20px 8px;
}
.menuPhoto {
    margin: 0 0 0 auto;
    flex: 1 1 1;
}
.menuText {
    flex: 0 0 auto;
}

/* contact.tpl*/
.contactForm form {
    margin: 0 auto;
    width: 800px;
    padding: 2em;
    border: 1px solid #F2BC51;
    border-radius: 1em;
}
  
.contactForm div + div {
    margin-top: 1em;
}
  
.contactForm label {
    display: inline-block;
    width: 200px;
    text-align: left;
    padding: 0.5em;
}
  
.contactForm input {
    font: 1em;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #F2BC51;
}

.contactForm textarea {
    font: 1em;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #F2BC51;
    vertical-align: top;
    height: 10em;
    margin-bottom: 35px;
}
  
.contactForm input:focus {
    border-color: #000;
}

.contactForm textarea:focus {
    border-color: #000;
}

/* login.tpl*/
.body2 {
    background-color: #F6D490;
}

.loginForm {
    background-color: #FFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #F2BC51;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

#userid {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}

.loginForm form {
    padding-top: 40px;
}

#password {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
}


#userid:focus, #password:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.forgot {
    text-align: center;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #F2BC51;
    padding-top: 15px;
    margin: 15px;
}

.loginForm a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #F2BC51;
    text-decoration: none
}

.loginForm a:hover{
    position:relative;
    top:1px;
    color: #F6D490;
    border-bottom:1px solid #F6D490;
}

/*resetPassword.html, signup.html共通*/
.commonForm {
    background-color: #fff;
    width: 400px;
    height: 530px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.commonForm label {
    text-align: left;
    margin-left: 45px;
}

.commonForm td {
    display: inline-block;
}

#userSurname {
    width: 30%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 27px;
}

.commonForm form {
    padding-top: 40px;
}

#userGivenname {
    width: 30%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 27px;
}

#userSurname:focus, #userGivenname:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}