@charset "UTF-8";

/* すべてのWebページに適用　*/
* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
    margin: 0 0 0 0;
	background-color: #FFF;
}

.wrapper {
	margin: 0 auto 0 auto;
	max-width: 960px;
}

h1 {
    color: #333
}

h2 {
	color: #333;
	font-size: 22px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

h3 {
	color: #686767;
	font-size: 18px;
}

h4 {
    font-size: 14px;
}

p {
	line-height: 1.6;
}

a:link {
	color: #686767;
}

a:visited {
	color: #686767;
}

a:hover {
	color: #686767;
}

a:active {
	color: #686767;
}

table th {/*table内のthに対して*/
    padding: 20px;/*上下左右10pxずつ*/
}
  
table td {/*table内のtdに対して*/
    padding: 30px 50px;/*上下3pxで左右10px*/
}
    
table {
    text-align: center;
}

th {
    color: #686767;/*文字色*/
    background: #FFF;/*背景色*/	
}

footer {
    background-color:#F6F5F3
}

/* 個別のスタイル */
/* header.html */
.jumbotron-extend {
    background-color: #FFF;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.btnLogin {
    position: relative;
    display: inline-block;
    padding: .65em 4em;
    border: 2px solid #333;
    color: #333;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .btnLogin::after {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    content: '';
    width: 101%;
    height: 105%;
    background-color: #F2BC51;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .btnLogin:hover {
    color: #fff;
  }
  .btnLogin:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.btnReserve {
    float: right;
    text-align: center;
    background-color: #F2BC51;
    width: 160px;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
    transition: .2s ease-out;
}

.btnReserve:hover {
    cursor: pointer;
	text-decoration: none;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 3px 10px 0 rgba(0,0,0,0.12), 0 4px 7px -2px rgba(0,0,0,0.2);
}

nav{
    text-align: center;
}

nav ul{
    margin: 0 ;
    padding: 0 ;
}
nav li{
    list-style: none;
    display: inline-block;
    width: 20%;
    min-width: 90px;
}
nav li:not(:last-child){
    border-right:2px solid #ddd;
}
nav a{
    text-decoration: none;
    color: #333;
}
nav a.current{
    color: #00B0F0;
    border-bottom:2px solid #00B0F0;
}
nav a:hover{
    color:#F2BC51;
    border-bottom:2px solid #F2BC51;
}

/* menu.html*/
.menuItem {
    display: flex;
    border-bottom: 1px solid #D1CAC8;
    padding: 20px 8px;
}
.menuPhoto {
    margin: 0 0 0 auto;
    flex: 1 1 1;
}
.menuText {
    flex: 0 0 auto;
}

/* contact.html*/
form {
    /* フォームをページの中央に置く */
    margin: 0 auto;
    width: 800px;
    /* フォームの範囲がわかるようにする */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
form div + div {
    margin-top: 1em;
}
  
label {
    /* すべてのラベルを同じサイズにして、きちんと揃える */
    display: inline-block;
    width: 200px;
    text-align: left;
    padding: 1em;
}
  
input, textarea {
    /* すべてのテキストフィールドのフォント設定を一致させる
       デフォルトで、textarea は等幅フォントが設定されている */
    font: 1em sans-serif;
  
    /* すべてのテキストフィールドを同じサイズにする */
    width: 500px;
    box-sizing: border-box;
  
    /* テキストフィールドのボーダーの外見を同一にする */
    border: 1px solid #D1CAC8;
}
  
input:focus, textarea:focus {
    /* アクティブな要素を少し強調する */
    border-color: #000;
}
  
textarea {
    /* 複数行のテキストフィールドをラベルにきちんと揃える */
    vertical-align: top;
  
    /* テキスト入力に十分な領域を与える */
    height: 5em;
}
  
.button {
    /* ボタンを他のテキストフィールドと同じ場所に置く */
    padding-left: 90px; /* label 要素と同じサイズ */
}
  
button {
    /* このマージンは、ラベルとテキストフィールドの間のスペースと
       おおよそ同じスペースを表す */
    margin-left: .5em;
}