    <link rel="stylesheet" href="../css/style.css">
    <div class="jumbotron jumbotron-extend">
        <h1 class="site-name"><a href="index.php">Chiropractic Salon Natural</a></h1>
        <a class="btn btnLogin" role="button" href="login.php">ログイン</a>
        <a class="btn btnReserve" role="button" href="reserve.php">空き状況・ご予約</a>
        <a href="signup.php">会員登録（無料）</a>
    </div>
    <nav>
        <ul>
            <li><a href="index.php">ホーム<br><span>Home</span></a></li>
            <li><a href="menu.php">メニュー・料金<br><span>Menu</span></a></li>
            <li><a href="access.php">アクセス<br><span>Access</span></a></li>
            <li><a href="contact.php">お問い合わせ<br><span>Contact</span></a></li>
        </ul>
    </nav>
